.sidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10px;
}
.list:hover {
    cursor: pointer;
}
