.drivers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.cardWrapper {
    margin: 10px;
}

@media only screen and (max-width: 375px) {
    .drivers {
        flex-direction: column;
    }
    .cardWrapper {
        margin-left: 0;
        margin-right: 0;
    }
}

.notFound {
    display: flex;
    flex-direction: row;
    justify-content: center;
}