.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: scroll;
}

.column {
    display: flex;
    flex-direction: column;
}

.cardWrapper {
    margin: 10px;
}

@media only screen and (max-width: 375px) {
    .listContainer {
        flex-direction: column;
    }
    .cardWrapper {
        margin-left: 0;
        margin-right: 0;
    }
}
